<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.dao.FeeLogMapper">
  <resultMap id="BaseResultMap" type="com.wy.model.FeeLog">
    <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
  <result column="wy_fee" property="wyFee" jdbcType="DOUBLE" />
  <result column="car_fee" property="carFee" jdbcType="DOUBLE" />
  <result column="is_jf" property="isJf" jdbcType="INTEGER" />
  <result column="log_date" property="logDate" jdbcType="VARCHAR" />
  <result column="create_time" property="createTime" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
     id,user_id,wy_fee,car_fee,is_jf,log_date,create_time
  </sql>
  <select id="selectByExample" parameterType="com.wy.model.FeeLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fee_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="startRow >= 0 and pageRows > 0">
      limit ${startRow},${pageRows}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from fee_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
   delete from fee_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wy.model.FeeLogExample">
    delete from fee_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wy.model.FeeLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
      insert into fee_log (user_id,wy_fee,car_fee,is_jf,log_date,create_time)
      values (	#{id,jdbcType=INTEGER},	#{userId,jdbcType=INTEGER},	#{wyFee,jdbcType=DOUBLE},	#{carFee,jdbcType=DOUBLE},	#{isJf,jdbcType=INTEGER},	#{logDate,jdbcType=VARCHAR},	#{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wy.model.FeeLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fee_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null" >
	  id,
 </if>
<if test="userId != null" >
	  user_id,
 </if>
<if test="wyFee != null" >
	  wy_fee,
 </if>
<if test="carFee != null" >
	  car_fee,
 </if>
<if test="isJf != null" >
	  is_jf,
 </if>
<if test="logDate != null" >
	  log_date,
 </if>
<if test="createTime != null" >
	  create_time
 </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
         <if test="id != null" >
	 #{id,jdbcType=INTEGER},
	 </if>
  <if test="userId != null" >
	 #{userId,jdbcType=INTEGER},
	 </if>
  <if test="wyFee != null" >
	 #{wyFee,jdbcType=DOUBLE},
	 </if>
  <if test="carFee != null" >
	 #{carFee,jdbcType=DOUBLE},
	 </if>
  <if test="isJf != null" >
	 #{isJf,jdbcType=INTEGER},
	 </if>
  <if test="logDate != null" >
	 #{logDate,jdbcType=VARCHAR},
	 </if>
  <if test="createTime != null" >
	 #{createTime,jdbcType=VARCHAR},
	 </if>

    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wy.model.FeeLogExample" resultType="java.lang.Long">
    select count(*) from fee_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fee_log
    <set>
       <if test="record.id != null" >
	 id = #{record.id,jdbcType=INTEGER},
</if>
 <if test="record.userId != null" >
	 user_id = #{record.userId,jdbcType=INTEGER},
</if>
 <if test="record.wyFee != null" >
	 wy_fee = #{record.wyFee,jdbcType=DOUBLE},
</if>
 <if test="record.carFee != null" >
	 car_fee = #{record.carFee,jdbcType=DOUBLE},
</if>
 <if test="record.isJf != null" >
	 is_jf = #{record.isJf,jdbcType=INTEGER},
</if>
 <if test="record.logDate != null" >
	 log_date = #{record.logDate,jdbcType=VARCHAR},
</if>
 <if test="record.createTime != null" >
	 create_time = #{record.createTime,jdbcType=VARCHAR}
</if>

    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fee_log
    set 
    				id = #{record.id,jdbcType=INTEGER},	user_id = #{record.userId,jdbcType=INTEGER},	wy_fee = #{record.wyFee,jdbcType=DOUBLE},	car_fee = #{record.carFee,jdbcType=DOUBLE},	is_jf = #{record.isJf,jdbcType=INTEGER},	log_date = #{record.logDate,jdbcType=VARCHAR},	create_time = #{record.createTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wy.model.FeeLog">
    update fee_log
    <set>
       <if test="id != null" >
	 id = #{id,jdbcType=INTEGER},
</if>
 <if test="userId != null" >
	 user_id = #{userId,jdbcType=INTEGER},
</if>
 <if test="wyFee != null" >
	 wy_fee = #{wyFee,jdbcType=DOUBLE},
</if>
 <if test="carFee != null" >
	 car_fee = #{carFee,jdbcType=DOUBLE},
</if>
 <if test="isJf != null" >
	 is_jf = #{isJf,jdbcType=INTEGER},
</if>
 <if test="logDate != null" >
	 log_date = #{logDate,jdbcType=VARCHAR},
</if>
 <if test="createTime != null" >
	 create_time = #{createTime,jdbcType=VARCHAR}
</if>

    </set>
     where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wy.model.FeeLog">
    update fee_log
    set 
     			id = #{id,jdbcType=INTEGER},	user_id = #{userId,jdbcType=INTEGER},	wy_fee = #{wyFee,jdbcType=DOUBLE},	car_fee = #{carFee,jdbcType=DOUBLE},	is_jf = #{isJf,jdbcType=INTEGER},	log_date = #{logDate,jdbcType=VARCHAR},	create_time = #{createTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
