<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.wy.model.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" property="name" jdbcType="VARCHAR" />
  <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
  <result column="real_name" property="realName" jdbcType="VARCHAR" />
  <result column="cel_phone" property="celPhone" jdbcType="VARCHAR" />
  <result column="wy_fee" property="wyFee" jdbcType="DOUBLE" />
  <result column="car_fee" property="carFee" jdbcType="DOUBLE" />
  <result column="create_time" property="createTime" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
     id,name,pass_word,real_name,cel_phone,wy_fee,car_fee,create_time
  </sql>
  <select id="selectByExample" parameterType="com.wy.model.UserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="startRow >= 0 and pageRows > 0">
      limit ${startRow},${pageRows}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
   delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wy.model.UserInfoExample">
    delete from user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wy.model.UserInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
      insert into user_info (name,pass_word,real_name,cel_phone,wy_fee,car_fee,create_time)
      values (	#{id,jdbcType=INTEGER},	#{name,jdbcType=VARCHAR},	#{passWord,jdbcType=VARCHAR},	#{realName,jdbcType=VARCHAR},	#{celPhone,jdbcType=VARCHAR},	#{wyFee,jdbcType=DOUBLE},	#{carFee,jdbcType=DOUBLE},	#{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wy.model.UserInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null" >
	  id,
 </if>
<if test="name != null" >
	  name,
 </if>
<if test="passWord != null" >
	  pass_word,
 </if>
<if test="realName != null" >
	  real_name,
 </if>
<if test="celPhone != null" >
	  cel_phone,
 </if>
<if test="wyFee != null" >
	  wy_fee,
 </if>
<if test="carFee != null" >
	  car_fee,
 </if>
<if test="createTime != null" >
	  create_time
 </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
         <if test="id != null" >
	 #{id,jdbcType=INTEGER},
	 </if>
  <if test="name != null" >
	 #{name,jdbcType=VARCHAR},
	 </if>
  <if test="passWord != null" >
	 #{passWord,jdbcType=VARCHAR},
	 </if>
  <if test="realName != null" >
	 #{realName,jdbcType=VARCHAR},
	 </if>
  <if test="celPhone != null" >
	 #{celPhone,jdbcType=VARCHAR},
	 </if>
  <if test="wyFee != null" >
	 #{wyFee,jdbcType=DOUBLE},
	 </if>
  <if test="carFee != null" >
	 #{carFee,jdbcType=DOUBLE},
	 </if>
  <if test="createTime != null" >
	 #{createTime,jdbcType=VARCHAR},
	 </if>

    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wy.model.UserInfoExample" resultType="java.lang.Long">
    select count(*) from user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_info
    <set>
       <if test="record.id != null" >
	 id = #{record.id,jdbcType=INTEGER},
</if>
 <if test="record.name != null" >
	 name = #{record.name,jdbcType=VARCHAR},
</if>
 <if test="record.passWord != null" >
	 pass_word = #{record.passWord,jdbcType=VARCHAR},
</if>
 <if test="record.realName != null" >
	 real_name = #{record.realName,jdbcType=VARCHAR},
</if>
 <if test="record.celPhone != null" >
	 cel_phone = #{record.celPhone,jdbcType=VARCHAR},
</if>
 <if test="record.wyFee != null" >
	 wy_fee = #{record.wyFee,jdbcType=DOUBLE},
</if>
 <if test="record.carFee != null" >
	 car_fee = #{record.carFee,jdbcType=DOUBLE},
</if>
 <if test="record.createTime != null" >
	 create_time = #{record.createTime,jdbcType=VARCHAR}
</if>

    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_info
    set 
    				id = #{record.id,jdbcType=INTEGER},	name = #{record.name,jdbcType=VARCHAR},	pass_word = #{record.passWord,jdbcType=VARCHAR},	real_name = #{record.realName,jdbcType=VARCHAR},	cel_phone = #{record.celPhone,jdbcType=VARCHAR},	wy_fee = #{record.wyFee,jdbcType=DOUBLE},	car_fee = #{record.carFee,jdbcType=DOUBLE},	create_time = #{record.createTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wy.model.UserInfo">
    update user_info
    <set>
       <if test="id != null" >
	 id = #{id,jdbcType=INTEGER},
</if>
 <if test="name != null" >
	 name = #{name,jdbcType=VARCHAR},
</if>
 <if test="passWord != null" >
	 pass_word = #{passWord,jdbcType=VARCHAR},
</if>
 <if test="realName != null" >
	 real_name = #{realName,jdbcType=VARCHAR},
</if>
 <if test="celPhone != null" >
	 cel_phone = #{celPhone,jdbcType=VARCHAR},
</if>
 <if test="wyFee != null" >
	 wy_fee = #{wyFee,jdbcType=DOUBLE},
</if>
 <if test="carFee != null" >
	 car_fee = #{carFee,jdbcType=DOUBLE},
</if>
 <if test="createTime != null" >
	 create_time = #{createTime,jdbcType=VARCHAR}
</if>

    </set>
     where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wy.model.UserInfo">
    update user_info
    set 
     			id = #{id,jdbcType=INTEGER},	name = #{name,jdbcType=VARCHAR},	pass_word = #{passWord,jdbcType=VARCHAR},	real_name = #{realName,jdbcType=VARCHAR},	cel_phone = #{celPhone,jdbcType=VARCHAR},	wy_fee = #{wyFee,jdbcType=DOUBLE},	car_fee = #{carFee,jdbcType=DOUBLE},	create_time = #{createTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
